@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
#dashboardContent
{
    font-family: 'Montserrat',sans-serif !important;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff97;
}
#dashboardMenuBar
{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: #212121;
    align-items: center;
}
#dashboardMenuBarLeftSide
{
    width: 20%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    border-radius: 0 18px 18px 0;
}
#appLogo
{
    width: 150px;
}
#dashboardMenuBarRightSide
{
    width: 85%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #424242;
    border-radius: 18px 0 0 18px;
    margin-left: 5px;
    align-items: center;
}
#dashboardMenuBarRightButtons
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#buttonMenuContainer
{
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
#dashboardContentStatistics
{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 0 0 28px 28px;
    box-shadow: 0px 27px 46px 0px rgba(0, 0, 0, 0.5);
}
#dashboardContentStatisticsFirstSection
{
    width: 550px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#dashboardContentStatisticsSecondSection
{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
#dashboardContentStatisticsThirdSection
{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
#StatisticFirstTitle
{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #41b883;
}
#StatisticFirstTitle h1
{
    margin-left: 15px;
    font-weight: 400;
}
#StatisticFirstContent
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#StatisticFirstContentLeft
{
    width: 250px;
    height: 328px;
    display: flex;
    flex-direction: column;
}
#statisticFirstContentLeftBox
{
    margin-top: 5px;
    width: 100%;
    height: 159px;
    display: flex;
    border-radius: 18px;
    background-color: #424242;
    flex-direction: column;
}
#statsticFirstContentRight
{
    width: 300px;
    height: 328px;
    display: flex;
    background-color: #424242;
    border-radius: 18px;
    margin-left: 5px;
    flex-direction: column;
}
#statisticFirstContentLeftBoxTitle
{
    width: 100%;
    height: 30px;
    padding: 20px;
}
#statisticFirstContentLeftBoxTitle h1
{
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}
#statisticFirstContentLeftBoxContent
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#leftBoxContentNumber
{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#leftBoxContentNumber h1 
{
    color: white;
    font-size: 45px;
    margin-right: 10px;
    margin-top: 10px;
}
#leftBoxContentImage
{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 25px 0 0 0;
}
#leftBoxContentImageBroken
{
    width: 50%;
    height: 100%;
    display: flex;
    padding: 15px 0 0 0;
}
#piggybankIcon
{
    width: 40px;
    height: 40px;
}
#piggybankIconBroken
{
    width: 45px;
    height: 45px;
}
#statisticFirstContentRightTitle
{
    width: 100%;
    height: 30px;
    padding: 20px;
    display: flex;
}
#statisticFirstContentRightTitle h1
{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
#chartBox
{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#chart
{
    width: auto;
    height: 256px;
    box-sizing: unset; 
}
#statisticSecondBoxChart
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#statisticThirdAllBox
{
    width: 100%;
    height: 95%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}
#statisticThirdAllRow
{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#statisticThirdRowNumber
{
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#statisticThirdRowNumber h1
{
    color: #41b883;
    font-weight: 400;
    font-size: 25px;
}
#statisticThirdRowProgressBar
{
   margin-left: 15px;
   width: 200px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#statisticThirdRowBankName
{
    margin-left: 20px;
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#statisticThirdRowBankName h1
{
    color: white;
    font-size: 20px;
    font-weight: 400;
}
#dashboardContentDetails
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#futter
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
a
{
    text-decoration: none;
    color: black;
}
#dashboardContentDetailsSavingList
{
    margin-top: 30px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#dashboardContentDetailsSavingDetails
{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#dashboardContentDeatilsSavingListBox
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}
#dashboardContentDetailsSavingListTitleBox
{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#dashboardContentDetailsSavingListTitle
{
    width: 290px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dashboardContentDetailsSavingListTitle h1
{
    color: #42A5F5;
    font-size: 30px;
    font-weight: 400;
}
#dashboardContentDetailsSavingListOptions
{
    width: 120px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dashboardContentDetailsSavingListRow
{
    width: 100%;
    height: 80px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    border: 2px solid rgba(0, 0, 0, 0.236);
    box-shadow: 0px 9px 50px -34px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition-duration: 400ms;
}
#dashboardContentDetailsSavingListRow:hover
{
    border: 2px solid #41b883;
    cursor: pointer;
}
#listscroll
{
    width: 90%;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.v-list-item__content:hover
{
    cursor: pointer;
}
#dashboardContentDetailsSavingListRowImage
{
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#savingIcon
{
    width: 35px;
    height: 35px;
    filter: invert(51%) sepia(95%) saturate(1207%) hue-rotate(184deg) brightness(102%) contrast(92%);
}
#dashboardContentDetailsSavingListRowText
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dashboardContentDetailsSavingListRowText h1
{
    font-size: 25px;
    font-weight: 400;
}
#dashboardContentDetailsSavingListRowMoney
{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#rowMoneyIcon
{
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rowMoneyIconImage
{
    width: 30px;
    height: 30px;
}
#rowMoneyAmmout
{
    width: 130px;
    height: 100%;
    display: flex;
    align-items: center;
}
#rowMoneyAmmout h1
{
    font-weight: 400;
    font-size: 26px;
}
#dashboardContentDetailsSavingDetailsFirstRow
{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
}
#SavingDetailsFirstRowTitle
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#SavingDetailsFirstRowTitle h1
{
    font-weight: 400;
    color: #41b883;
    margin-left: 50px;
    letter-spacing: 2px;
}
#savingDetailsFirstRowOptions
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#buttonDetailContainer
{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}