@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
#content
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("@/Images/Background2.jpg");
    background-size: cover;
}
#loginBoxPanel
{
    width: 500px;
    height: 400px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
}
#loginBoxPanelRegister
{
    width: 500px;
    height: 500px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 18px;
}
#buttons
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loginInput
{
    height: 15px;
}
#LoginPanelTitle
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#LoginPanelTitle h1
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}
#registerFormSection
{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
}
.registerFormRow
{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
#mainLogo
{
    margin-top: 50px;
    width: 500px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    #mainLogo
    {
        margin-top: 50px;
        width: 300px;
        margin-bottom: 100px;
    }
    #loginBoxPanel
    {
        width: 300px;
        height: 400px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.725);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 18px;
    }
    #loginBoxPanelRegister
    {
        width: 300px;
        display: flex;
        background-color: rgba(0, 0, 0, 0.656);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 18px;
    }
  }